{
  "$schema": "https://opencode.ai/config.json",
  "model": "deepseek/deepseek-flash",
  "default_agent": "chief-ds+glm",
  "subagent_depth": 2,
  "permission": {
    "edit": "ask",
    "bash": "ask",
    "skill": {
      "*": "allow"
    },
    "external_directory": {
      "/tmp/*": "allow"
    }
  },
  "compaction": {
    "prune": true
  },
  "agent": {
    "build": {
      "disable": true
    },
    "scout": {
      "disable": true
    }
  }
}
