{
  "$schema": "https://opencode.ai/config.json",
  "model": "deepseek/deepseek-flash",
  "default_agent": "chief-ds",
  "permission": {
    "edit": "ask",
    "bash": "ask",
    "skill": {
      "*": "allow"
    }
  },
  "agent": {
    "build": {
      "disable": true
    },
    "scout": {
      "disable": true
    }
  }
}
